// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ddd6f3;
$color-secondary-dark: #ccbff5;

$color-tertiary-light: #4ca1af;
$color-tertiary-dark: #c4e0e5;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONTS
$font-primary: "Montserrat";
